.App {
  max-width: 800px;
  margin: auto;
}

::selection {
  background-color: #10ADED;
  color: #fff;
}

.cf {
  overflow: auto;
}

a {
  color: #10ADED;
  opacity: .85;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  opacity: 1;
}

a.blame,
a.report {
  color: darkred;
}

.muted {
  color: #777;
}

.pullLeft,
.pullRight {
  display: inline-block;
}

.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}

.smallText {
  font-size: 13px;
}

.unstyledList {
  margin: 0;
  list-style: none;
  padding: 0;
}

.inlineList li {
  display: inline-block;
  margin-right: 8px;
}

.textCenter {
  text-align: center;
}

.feed {
  border: 1px solid #e4e4e4;
  border-bottom: 0;
  background-color: #fff;
}

.feedHeader,
.feedBody,
.feedFooter {
  padding-left: 20px;
  padding-right: 20px;
}

.feed:last-child {
  border-bottom: 1px solid #e4e4e4;
}

.feed .avatar {
  display: inline-block;
  margin-right: 10px;
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  background-color: #10ADED;
}

.feed .avatar .egg {
  -webkit-transform: rotate(6deg);
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 70px 15px 70px 15px;
  position: relative;
  top: 10px;
  left: 10px;
  transform: rotate(6deg);
}

.feedHeader {
  padding-top: 10px;
  padding-bottom: 8px;
}

.feed .feedHeader h3 {
  font-size: 15px;
  margin-top: 0;
  line-height: 45px;
}

.feed .feedBody p {
  margin-top: 0;
  font-size: 28px;
}

.feedFooter {
  background-color: #fafafa;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.feedFooter .feedControls li {
  margin-right: 16px;
}

.feedFooter .report {
  font-size: 13px;
}
